* {   /* 1 */  
    margin: 0;
    padding: 0;
}   

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(/img/pexels-pineapple-supply-co-139234.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 80%; /* ocupa solo el 80%del ancho */
    margin: auto; /* para que todo este centrado */
    padding: 35px 0; /* para separar la parte sup del navegador */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%; /* inicialmente oculta para el efecto */
    background: yellowgreen;
    position: absolute;
    left: 0;  /* para que lineas esten por debajo */
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;

}